<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>TroubleMaker App</title>
  <link href="https://unpkg.com/@coding-blocks/motley@0.2.3/dist/app.min.css" rel="stylesheet">
</head>

<body>
  <header>
    <nav class="main-nav">
      <span class="hamburger-parent">
        <i class="hamburger fas fa-bars"></i>
      </span>
      <span class="logo-parent">
        <a class="logo-link" href="/">
          <img src="https://online.codingblocks.com/images/online-logo-43dd0ede19c18f0f0aeadceab04cc364.png" alt="online-logo" class="nav-logo pointer">
        </a>
      </span>

      <ul class="nav-list">

        <a href="/questions">
          <li class="nav-items pointer">
            Questions
          </li>
        </a>

        {{!-- <a href="https://online.codingblocks.com/">
          <li class="nav-items pointer">
            ONLINE COURSES
          </li>
        </a> --}}

        {{#if isAuthenticated}}
          Hi <mark>{{user.firstname}}</mark>,
          <li class="nav-items pointer">
            <div class="button-solid">
              <a class="white" href="/logout">
                  <button>Logout</button>
              </a>
            </div>
          </li>
        {{else}}
          <li class="nav-items pointer">
            <div class="button-solid">
              <a class="white" href="/login">
                  <button>Login</button>
              </a>
            </div>
          </li>
        {{/if}}

        
      </ul>
    </nav>

  </header>

  {{{body}}}

</body>

</html>