<div class="container">
    {{#each questions}}
      <div class="row">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Q#{{id}}: {{title}}</h5>
            <p class="card-text">
              {{description}}
            </p>
            <div class="button-solid">
              <a href="questions/{{id}}" class="white">
                <button>Edit</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
</div>